body {
  margin:0;
  font-family:sans-serif;  
  background:#f7f7f7;
}
.error-404-container {
  width: 100%;
  height: 100%;
  position: absolute;
}
.error-404-box {
  width: 100%;
  height: 60%;
  position: relative;
}
.error-404-explanation {
  width: 100%;
  height: 15%;  
  text-align: center;
}

/* 抱歉，您所指定的頁面不存在。 */
.error-404-explanation p {
  margin: 0 0 15px 0;
}

h1 {
  font-size:11rem;
  color: #fc981c;
  position:absolute;
  -webkit-transform:translate(-50%,-50%);
      -ms-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
  margin:0;
}
h1:nth-of-type(1){
  -webkit-animation: range 4s infinite;
          animation: range 4s infinite;
}
h1:nth-of-type(2){
  left:50%;
  top:50%;
  -webkit-animation: size 4s infinite;
          animation: size 4s infinite;
}
h1:nth-of-type(3){
  -webkit-animation: range2 4s infinite;
          animation: range2 4s infinite;
}
@-webkit-keyframes range {
  0%  {left:32%;top:50%;font-size:11rem;}
  25% {left:50%;top:40%;font-size:4.5rem;}
  50% {left:68%;top:50%;font-size:11rem;}
  75% {left:50%;top:60%;font-size:4.5rem;}
  100%{left:32%;top:50%;font-size:11rem;}
}
@keyframes range {
  0%  {left:32%;top:50%;font-size:11rem;}
  25% {left:50%;top:40%;font-size:4.5rem;}
  50% {left:68%;top:50%;font-size:11rem;}
  75% {left:50%;top:60%;font-size:4.5rem;}
  100%{left:32%;top:50%;font-size:11rem;}
}
@-webkit-keyframes range2 {
  0%  {left:68%;top:50%;font-size:11rem;}
  25% {left:50%;top:60%;font-size:4.5rem;}
  50% {left:32%;top:50%;font-size:11rem;}
  75% {left:50%;top:40%;font-size:4.5rem;}
  100%{left:68%;top:50%;font-size:11rem;}
}
@keyframes range2 {
  0%  {left:68%;top:50%;font-size:11rem;}
  25% {left:50%;top:60%;font-size:4.5rem;}
  50% {left:32%;top:50%;font-size:11rem;}
  75% {left:50%;top:40%;font-size:4.5rem;}
  100%{left:68%;top:50%;font-size:11rem;}
}
@-webkit-keyframes size {
  0%  {font-size:11rem;}
  25% {font-size:26rem;}
  50% {font-size:11rem;}
  75% {font-size:26rem;}
  100%{font-size:11rem;}
}
@keyframes size {
  0%  {font-size:11rem;}
  25% {font-size:26rem;}
  50% {font-size:11rem;}
  75% {font-size:26rem;}
  100%{font-size:11rem;}
}

/*button*/
.error-404-go-button {
  display: block;
  color: #ffffff;
  background-color: #c0392b;
  width: 300px;
  height: 40px;
  line-height: 3em;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.error-404-go-button:hover {
  color: #ffffff;
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

/* 秒跳轉到首頁。 */
.error-404-reciprocal p {
  left: 200px;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 0 auto;
}
.error-404-reciprocal p::first-letter {
    font-size: 200%;
    color: #ffae00;
}


/* 5 4 3 2 1 */
.error-404-reciprocal {
  position: relative;
  display: block;
  width: 100%;
  height: 20%;
  overflow: hidden;
  text-align: center;
}
.error-404-reciprocal span {
  font-size: 120px;
  line-height: 1em;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  position: absolute;  
  -webkit-animation: reciprocal 5s infinite;
    animation: reciprocal 5s infinite;
}

.error-404-reciprocal span:nth-of-type(1){
  -webkit-animation: reciprocal-1 10s infinite;
          animation: reciprocal-1 10s infinite;
}
.error-404-reciprocal span:nth-of-type(2){
  -webkit-animation: reciprocal-2 10s infinite;
          animation: reciprocal-2 10s infinite;
}
.error-404-reciprocal span:nth-of-type(3){
  -webkit-animation: reciprocal-3 10s infinite;
          animation: reciprocal-3 10s infinite;
}
.error-404-reciprocal span:nth-of-type(4){
  -webkit-animation: reciprocal-4 10s infinite;
          animation: reciprocal-4 10s infinite;
}
.error-404-reciprocal span:nth-of-type(5){
  -webkit-animation: reciprocal-5 10s infinite;
          animation: reciprocal-5 10s infinite;
}



@-webkit-keyframes reciprocal-1 {
  0%  {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
  }
  50% {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
  }
  75% {
    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
  }
  100%{
    -webkit-transform: translateY(-400%);
    -moz-transform: translateY(-400%);
  }
}


@-webkit-keyframes reciprocal-2 {
  0%  {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
  }
  25% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
  }
  75% {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
  }
  100%{
    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
  }
}

@-webkit-keyframes reciprocal-3 {
  0%  {
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
  }
  25% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
  }
  50% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
  }
  100%{
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
  }
}

@-webkit-keyframes reciprocal-4 {
  0%  {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
  }
  25% {
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
  }
  50% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
  }
  75% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
  }
  100%{
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
  }
}

@-webkit-keyframes reciprocal-5 {
  0%  {
    -webkit-transform: translateY(400%);
    -moz-transform: translateY(400%);
  }
  25% {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
  }
  50% {
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
  }
  75% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
  }
  100%{
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
  }
}


@keyframes reciprocal-1 {
  0%  {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
  }
  50% {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
  }
  75% {
    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
  }
  100%{
    -webkit-transform: translateY(-400%);
    -moz-transform: translateY(-400%);
  }
}


@keyframes reciprocal-2 {
  0%  {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
  }
  25% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
  }
  75% {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
  }
  100%{
    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
  }
}

@keyframes reciprocal-3 {
  0%  {
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
  }
  25% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
  }
  50% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
  }
  100%{
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
  }
}

@keyframes reciprocal-4 {
  0%  {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
  }
  25% {
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
  }
  50% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
  }
  75% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
  }
  100%{
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
  }
}

@keyframes reciprocal-5 {
  0%  {
    -webkit-transform: translateY(400%);
    -moz-transform: translateY(400%);
  }
  25% {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
  }
  50% {
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
  }
  75% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
  }
  100%{
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
  }
}