@charset "utf-8";
/*輪播圖片*/
.carousel {
  position: relative;
  height: auto;
  overflow: hidden;
  background-color: #e6965f;
}

.carousel-content {
  position: relative;
  padding: 0 0 30px 0;
}

/*輪播*/
.carousel-box {   
  
}
.carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  overflow: hidden;
  padding-bottom: 20%;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-radius: 0 0 10px 10px;
}
.carousel ul li img {
  width: 100%;
}
.carousel ul li {
  -moz-transition: transform .5s;
  -webkit-transition: transform .5s;
  -o-transition: transform .5s;
  -ms-transition: transform .5s;
  transition: transform .8s;
}
.carousel ul li {
  display: none;
  position: absolute;
  width: 100%;
  transform: translateX(200%);
}
.carousel ul li.left {
  display: inline-block;
  display: block;
  transform: translateX(-100%);
}
.carousel ul li.right {
  display: inline-block;
  display: block;
  transform: translateX(100%);
}
.carousel ul li.active {
  display: inline-block;
  display: block;
  transform: translateX(0);
}

/*輪播數字*/
.carousel-indicators {
  position: absolute;
  text-align: right;
  list-style: none;
  width: 100%;
  bottom: 0;
  right: 0;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000\9;
  background-color: rgba(0,0,0,0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}

.carousel-btn {
  position: absolute;
  top: 0;
  bottom: 0;  
  color: #fff;
  text-align: center;
  width: -moz-calc(100% - 1250px);
  width: -webkit-calc(100% - 1250px);
  width: -o-calc(100% - 1250px);
  width: calc(100% - 1250px);
}
#carousel-left-btn {
  left: 0;
}
#carousel-right-btn {
  right: 0;
}
.carousel-btn .fa {
  position: absolute;
  top: 40%;
  font-size: 24px;
} 